.not-fount-page-container {
    width: 100%;
    min-height: 650px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    & h1 {
        font-size: 62px;
        margin: 0 0 10px 0;
    }
    & p {
        text-align: center;
        font-size: 22px;
        @media screen and (min-width: 1024px) {
            max-width: 400px;
        }
    }
    & a {
        text-decoration: none;
        background-color: $primary-brand-color;
        color: $white-color;
        padding: 10px 20px;
    }
}