.filter-container {
    width: 100%;
    margin-bottom: 26px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @media screen and (min-width: 768px) {
        flex-direction: row;
        justify-content: flex-start;
    }
    &__title {
        color: $primary-brand-color;
        font-weight: bold;
        margin-bottom: 16px;
        @media screen and (min-width: 768px) {
            margin-bottom: 0;
            margin-right: 16px;
        }
    }
    &__select-search-type,
    &__input-search,
    &__filter-button {
        padding: 1em;
        margin: 0 7px;
    }
    &__select-search-type {
        appearance: none;
        padding: 1em 5em 1em 1em;
        background: none;
    }
    &__select-search-type,
    &__input-search,
    &__filter-button {
        margin-bottom: 16px;
        width: 270px;
        max-width: 270px;
        @media screen and (min-width: 768px) {
            margin-bottom: 0;
            width: auto;
            max-width: initial;
        }
    }
    &__filter-button {
        background-color: $primary-brand-color;
        border: none;
        color: $white-color;
        cursor: pointer;
    }
    &__filter-button:active {
        transform: scale(0.9);
    }
}